@model TankStudios.Models.ContactModel

@{
    ViewBag.Title = "Tank Studios";
}

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top">Tank Studios</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#blogs">Blogs</a>
                </li>
                <li class="page-scroll">
                    <a href="#about">About</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive img-circle" src="~/Content/us.jpg" alt="">
                <div class="intro-text">
                    <span class="name">Tank Studios</span>
                    <hr>
                    <span class="skills">Technology, Life, and Software Development</span><br />
                    <span class="skills">Ryan Tankersley</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section id="blogs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Blogs</h2>
                <hr style="background-color:black; color:black; height:1pt; border:hidden;">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href=@Url.Action(controllerName: "Blog", actionName: "Read", routeValues: new { id = "tech_talk" }) class="portfolio-link" data-toggle="modal">
                    <h3>Tech</h3>
                    <img src="http://i1068.photobucket.com/albums/u458/Ryan_Tankersley/aqws_zpszpg7nkn2.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href=@Url.Action(controllerName: "Blog", actionName: "Read", routeValues: new { id = "life_talk" }) class="portfolio-link" data-toggle="modal">
                    <h3>Life</h3>
                    <img src="http://i1068.photobucket.com/albums/u458/Ryan_Tankersley/qwsa_zpskqgidov6.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href=@Url.Action(controllerName: "Blog", actionName: "Read", routeValues: new { id = "dev_talk" }) class="portfolio-link" data-toggle="modal">
                    <h3>Dev</h3>
                    <img src="http://i1068.photobucket.com/albums/u458/Ryan_Tankersley/wsaq_zps93gqfqao.png" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Tank Studios is a place to hear about interesting and useful technologies, to learn and to walk through development experiences,
                and to sit back and enjoy life stories.  </p>
            </div>
            <div class="col-lg-4">
                <p>I brought this site to life in order to write about my passions as well as have a hub for any
                future software I develop. Thank you for stopping by! I hope you enjoy your stay!</p>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Contact Me</h2>
                <hr style="background-color:black; color:black; height:1pt; border:hidden;">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                @using (Html.BeginForm("Contact", "Home", new { }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group floating-label-form-group">
                        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group floating-label-form-group">
                        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group floating-label-form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group floating-label-form-group">
                        @Html.LabelFor(m => m.Message, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(m => m.Message, new { @class = "form-control", @placeholder = "Message" })
                            @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" style="margin-top:5px;">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Contact" class="btn-lg btn-primary" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                </div>
                <div class="footer-col col-md-4">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/ryan.tankersley.96" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/101098872669554955942/" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/pub/ryan-tankersley/b6/742/136" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Tank Studios 2015
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>